.Layout {
  > header {
    height: 90px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
    > .logo {
      font-size: 60px;
      text-decoration: none;
      color: black;
    }

    > .spacer {
      flex: 1;
    }

    > .icon-wrapper {
      margin: 0 20px;
    }

    > .question-button {
      text-decoration: none;
      color: white;
      background: black;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}